{
  "name": "Configure Synapse",
  "description": "",
  "spec": [
    {
      "question_name": "Enable Public Registration",
      "question_description": "Controls whether people with access to the homeserver can register by themselves.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ matrix_synapse_enable_registration | string | lower }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_synapse_enable_registration",
      "type": "multiplechoice"
    },
    {
      "question_name": "Enable Federation",
      "question_description": "Controls whether Synapse will federate at all. Disable this to completely isolate your server from the rest of the Matrix network.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ matrix_synapse_federation_enabled | string | lower }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_synapse_federation_enabled",
      "type": "multiplechoice"
    },
    {
      "question_name": "Allow Public Rooms Over Federation",
      "question_description": "Controls whether remote servers can fetch this server's public rooms directory via federation. For private servers, you'll most likely want to forbid this.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ matrix_synapse_allow_public_rooms_over_federation | string | lower }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_synapse_allow_public_rooms_over_federation",
      "type": "multiplechoice"
    },
    {
      "question_name": "Enable Community Creation",
      "question_description": "Allows regular users (who aren't server admins) to create 'communities', which are basically groups of rooms.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ matrix_synapse_enable_group_creation | string | lower }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_synapse_enable_group_creation",
      "type": "multiplechoice"
    },
    {
      "question_name": "Enable Synapse Presence",
      "question_description": "Controls whether presence is enabled. This shows who's online and reading your posts. Disabling it will increase both performance and user privacy.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ matrix_synapse_presence_enabled | string | lower }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_synapse_presence_enabled",
      "type": "multiplechoice"
    },
    {
      "question_name": "Enable URL Previews",
      "question_description": "Controls whether URL previews should be generated. This will cause a request from Synapse to URLs shared by users.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ matrix_synapse_url_preview_enabled | string | lower }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_synapse_url_preview_enabled",
      "type": "multiplechoice"
    },
    {
      "question_name": "Enable Guest Access",
      "question_description": "Controls whether 'guest accounts' can access rooms without registering. Guest users do not count towards your servers user limit.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ matrix_synapse_allow_guest_access | string | lower }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "matrix_synapse_allow_guest_access",
      "type": "multiplechoice"
    },
    {
      "question_name": "Registration Requires Email",
      "question_description": "Controls whether an email address is required to register on the server.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ ext_registrations_require_3pid | string | lower }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "ext_registrations_require_3pid",
      "type": "multiplechoice"
    },
    {
      "question_name": "Registration Shared Secret",
      "question_description": "A secret that allows registration of standard or admin accounts by anyone who has the shared secret, even if registration is otherwise disabled. WARNING: You must set a strong and unique password here.",
      "required": false,
      "min": 0,
      "max": 256,
      "default": "",
      "choices": "",
      "new_question": true,
      "variable": "matrix_synapse_registration_shared_secret",
      "type": "password"
    },
    {
      "question_name": "Synapse Max Upload Size",
      "question_description": "Sets the maximum size for uploaded files in MB.",
      "required": false,
      "min": 0,
      "max": 3,
      "default": "{{ matrix_synapse_max_upload_size_mb }}",
      "choices": "",
      "new_question": true,
      "variable": "matrix_synapse_max_upload_size_mb_raw",
      "type": "text"
    },
    {
      "question_name": "URL Preview Languages",
      "question_description": "Sets the languages that URL previews will be generated in. Entries are a 2-3 letter IETF language tag, they must be seperated with newlines. For example: 'fr' https://en.wikipedia.org/wiki/IETF_language_tag",
      "required": false,
      "min": 0,
      "max": 65536,
      "default": {{ ext_url_preview_accept_language_default | to_json }},
      "choices": "",
      "new_question": true,
      "variable": "ext_url_preview_accept_language_raw",
      "type": "textarea"
    },  
    {
      "question_name": "Federation Whitelist",
      "question_description": "Here you can list the URLs of other Matrix homeservers and Synapse will only federate with those homeservers. Entries must be seperated with newlines and must not have a 'https://' prefix. For example: 'matrix.example.org'",
      "required": false,
      "min": 0,
      "max": 65536,
      "default": {{ ext_federation_whitelist_raw | to_json }},
      "choices": "",
      "new_question": true,
      "variable": "ext_federation_whitelist_raw",
      "type": "textarea"
    },  
    {
      "question_name": "Synapse Auto-Join Rooms",
      "question_description": "Sets the 'auto-join' rooms, where new users will be automatically invited to, these rooms must already exist. Entries must be room addresses that are separated with newlines. For example: '#announcements:example.org'",
      "required": false,
      "min": 0,
      "max": 65536,
      "default": {{ matrix_synapse_auto_join_rooms_raw | to_json }},
      "choices": "",
      "new_question": true,
      "variable": "matrix_synapse_auto_join_rooms_raw",
      "type": "textarea"
    },
    {
      "question_name": "Enable ReCaptcha on Registration",
      "question_description": "Enables Googles ReCaptcha verification for registering an account, recommended for public servers.",
      "required": false,
      "min": null,
      "max": null,
      "default": "{{ ext_enable_registration_captcha | string | lower }}",
      "choices": "true\nfalse",
      "new_question": true,
      "variable": "ext_enable_registration_captcha",
      "type": "multiplechoice"
    },
    {
      "question_name": "Recaptcha Public Key",
      "question_description": "Sets the Google ReCaptcha public key for this website.",
      "required": false,
      "min": 0,
      "max": 40,
      "default": "{{ ext_recaptcha_public_key }}",
      "choices": "",
      "new_question": true,
      "variable": "ext_recaptcha_public_key",
      "type": "text"
    },
    {
      "question_name": "Recaptcha Private Key",
      "question_description": "Sets the Google ReCaptcha private key for this website.",
      "required": false,
      "min": 0,
      "max": 40,
      "default": "{{ ext_recaptcha_private_key }}",
      "choices": "",
      "new_question": true,
      "variable": "ext_recaptcha_private_key",
      "type": "text"
    }
  ]
}
